<div class="pull-right glyphicon glyphicon-cog" id="ideaSettingsLink"></div>


<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 grayBorder" id="divNewIdea">
    <div class="row text-center">
  	<h1>
  		Create an idea,<br> then share it<br> with the world.
  	</h1>
  </div>
     <div class="input-group">
            <span class="input-group-btn">
                 <span class="btn btn-success btn-file">
      				Browse...
        		  <input type="file" name="idea[cover_img]" id="idea_cover_img">
          		</span>
            </span>
                <input type="text" class="form-control" readonly>
            </div>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_field :description %>
      </div>
      <%= hidden_field_tag :alteredStatus, "0" %>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  <div class="col-md-4">
  </div>
    <% end %>
  </div>
</div>