<div class="pull-right glyphicon glyphicon-cog" id="ideaSettingsLink" ></div>

 <div class="row" ng-controller="IdeaDetailCtrl">
  <div class="col-md-4"></div>
		<div class="col-md-4 grayBorder" id="divNewIdea">
			<div class="row text-center">
			<h1>
				Create an idea,<br> then share it<br> with the world.
			</h1>
		</div>
		<div class="container">
			<form novalidate>
				<div class="input-group">
					<span class="input-group-btn">
						<span class="btn btn-success btn-file">
							Browse...
							<input type="file" name="idea[cover_img]" id="idea_cover_img">
						</span>
					</span>
					<input type="text" class="form-control" readonly>
				</div>
				<div class="field">
					<label for="name" >Name</label>
					<br />
					<input type="text" name="idea[name]" ng-model="idea.name" id="name"/>
				</div>
				<div class="field">
					<label for="description" >Description</label>
					<br />
					<input type="text" name="idea[description]" ng-model="idea.description" id="description"/>
				</div>
				<div class="actions">
					<button ng-click="updateIdea()">SAVE</button>      
				</div>
			</form>
		</div>
		<div class="col-md-4">
			
		</div>
  </div>
</div>

<div ng-controller="DirectoryCreationCtrl">
	<h3>Create a new directory</h3>
	<form name="directory" >
		<input type="hidden" ng-model="directory.idea_id"/>
		<input type="hideen" ng-model="directory.parent_id"/>

		<div class="field">
			<label for="directoryName"></label>
			<br>
			<input type="text" ng-model="directory.name" />
		</div>
		<div class="actions">
			<button ng-click="createDirectory()">Save</button>
		</div>
	</form>
</div>

<div ng-controller="DirectoryIndexCtrl" >
	<h1>Listing directories</h1>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
				<tr ng-repeat="directory in directories">
					<td>{{directory.name}}</td>
					<button type="button" class="btn btn-default">
						<a ng-click="showDirectory(directory.id)" class='fa fa-pencil-square-o' ></a>
					</button>
					<td>
						<button>
							<a ng-click="editDirectory(directory.id)" class='fa fa-pencil-square-o' ></a>
						</button>
					</td>
					<td>
						<button>
							<a ng-click="deleteDirectory(directory.id)" class='fa fa-pencil-square-o' ></a>
						</button>
					</td>
				</tr>
		</tbody>
	</table>
	<br>
	<div class="btn btn-primary btn-lg" id="addFolderIcon">Add Directory</div>
	<!--<a ng-click="newDirectory()" class='fa fa-plus'></a> -->
</div>


<div id="ideaResourceContainer" ng-controller="ResourceIndexCtrl">
	<div id="resource_container" class="row masonry">
		<h1>Listing resources</h1>
		<div class="col-xs-3 item" ng-repeat="resource in resources">
					<h5 class="title">
						{{ resource.filename }}
					</h5>
					<div class="comment">
						<p>
							{{resource.comment}}
						</p>  
					</div>
					<button id="editResource" class="dock-item glyphicon glyphicon-pencil editResource"></button>
					<button id="removeResource" class="glyphicon glyphicon-remove"></button>
		</div>
	</div>

	<div id="dragndropimage">
		<img src="/images/upload_icon.png" />
	</div>

	<form id="myDropzone" action="/resources" class="dropzone" >
		<div class="fallback">
			<input name="file" type="file" multiple />
		</div>
		<input id="resourceComment" name="comment" type="hidden" />
	</form >
</div>
