<div class="pull-right glyphicon glyphicon-cog" id="ideaSettingsLink"></div>

<div>
  <% @idea.resources.each do |resource| %>
    <div class="col-xs-3 item">
      
    </div>
  <% end %>
</div>
<%= render 'form' %>


<%= link_to 'Show', @idea %> |
<%= link_to 'Back', ideas_path %>
