<div id="CommentContainer" ng-controller="CommentIndexController">
	<div class="col-md-12" ng-repeat="comment in comments">
		<span class="col-md-10 pointerCursor" ng-click="editComment(comment)">{{ comment.comment }}</span>
		<span class="col-md-2 commentButtons" >
			<i id="removeComment" ng-click="deleteComment(comment)" class="fa fa-times"></i>
		</span>
	</div>
</div>
<div  class="col-md-12" ng-controller="CommentCreationController">
	<form novalidate>
		<textarea ng-model="comment.message" placeholder="type here"/>
		<i id="createCommentButton" ng-click="createComment()" class="fa fa-plus"></i>
	</form>
</div>
