<form id="myDropzone" action="/resources" class="dropzone" >
  <div class="fallback">
    <input name="file" type="file" multiple />
  </div>
  <input id="resourceComment" name="comment" type="hidden" />
</form >
<%= debug session[:idea_id] %>

