<div ng-controller="DirectoryIndexCtrl" >
	<h6>Listing directories</h6>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
				<tr ng-repeat="directory in directories">
					<td>{{directory.name}}</td>
					<button type="button" class="btn btn-default">
						<a ng-click="showDirectory(directory.id)" class='fa fa-pencil-square-o' ></a>
					</button>
					<td>
						<button>
							<a ng-click="editDirectory(directory.id)" class='fa fa-pencil-square-o' ></a>
						</button>
					</td>
					<td>
						<button>
							<a ng-click="deleteDirectory(directory.id)" class='fa fa-pencil-square-o' ></a>
						</button>
					</td>
				</tr>
		</tbody>
	</table>
	<br>
	<div class="btn btn-default" id="addFolderIcon" ng-click="showCreatePanel()">
		+ Add New Directory
	</div>
		
</div>
