<div id="directoryForm"
		 class="pop-over"
		 ng-controller="DirectoryCreationCtrl"
		 ng-show="$session.user">
	<h4 class="margin-bottom-15">{{$storage.dir_path}}</h4>
	<form name="directory" novalidate>
	  <input type="hidden" ng-model="directoryForm.idea_id" />
	  <input type="hidden" ng-model="directoryForm.parent_id" />
	  <div class="field">
	    <input class="form-control" type="text" placeholder="Name" ng-model="directoryForm.name" name="directory[name]"/>
	    </div>
	    <div class="actions">
			  <button class="btn btn-primary" ng-click="createNewDirectory()" >
					<i class="fa fa-save"></i>
					Add Directory
				</button>
	  </div>
	</form>
</div>
