<div id="directoryForm" ng-controller="DirectoryCreationCtrl">
	<h4>Create a New Directory</h4>
	<form name="directory" novalidate>
	  <input type="hidden" ng-model="directoryForm.idea_id" />
	  <input type="hidden" ng-model="directoryForm.parent_id" />

	  <div class="field">
	    <label for="directoryName"></label>
	    <br>
	    <input class="form-control" type="text" placeholder="Name" ng-model="directoryForm.name" name="directory[name]"/>
	    </div>
	    <div class="actions">
	    <button class="btn btn-warning" ng-click="createNewDirectory()"><i class="fa fa-save"></i> Save Directory</button>
	  </div>
	</form>
</div>
