<div id="ResourceCommentContainer" ng-controller="ResourceCommentIndexController">
	<div class="col-md-12" ng-repeat="resourceComment in resourceComments">
		<span class="col-md-10 pointerCursor" ng-click="editComment(resourceComment)">{{ resourceComment.comment }}</span>
		<span class="col-md-2 commentButtons" >

		</span>
	</div>
</div>
<div  class="col-md-12" ng-controller="ResourceCommentCreationController">
	<form novalidate>
		<div>
			<textarea ng-model="resource_comment.message" placeholder="type here" class="col-md-12 resourceCommentBox"/>
		</div>
		<div>
			<button id="createResourceCommentButton" ng-click="createResourceComment()" class="col-md-6">Add Comment</button>
		</div>
	</form>
</div>
