<div id="userRegistrationForm" ng-controller="UserRegisterController">
	<div class="col-md-12">
		<form role="form" ng-init="registrationForm = {}"> 
			<div class="form-group">
				<img src="" alt="user avatar"/>
			</div>
			<div class="form-group">
				<input placeholder= "Email" type="email" name="email" id="email" ng-model="registrationForm.email" required="required" class="form-control"> 
			</div> 
			<div class="form-group"> 
				<input placeholder= "Password" type="password" name="password" id="password" ng-model="registrationForm.password" required="required" class="form-control"> 
			</div> 
			<div class="form-group"> 
				<input placeholder= "Confirm Password" type="password" name="confirmation_password" id="confirmation_password" ng-model="registrationForm.confirmation_password" required="required" class="form-control"> 
			</div> 
			<button type="submit" class="btn btn-primary btn-sm" ng-click="register()">Sign up</button> 
			<button class="btn btn-primary btn-sm pull-right" ng-click="hideRegistrationPanel()">Cancel</button>
		</form>
	</div>
</div>