<div id="userInfo" class="col-md-12 pull-right" ng-controller="UserSessionCtrl">
	<span ng-show="!$storage.user.id" class="pull-right">
		<a id="signInLink" class="pointerCursor" ng-click="showSignInForm()">Sign in</a> |
		<a class='pointerCursor navbar-link' ng-click="showRegistrationForm()">Sign up</a>
	</span>
	<span  ng-show="$storage.user.id" class="pull-right">
		<div class="col-md-12 pull-right">
			<span>
				Welcome <strong>{{user.email}}</strong>.
			</span>			
			<span>
				<span class="pointerCursor link" ng-click='logout(user)'>Sign out</span> |
				<span class='pointerCursor navbar-link link' ng-click="showEditProfileForm()">Edit profile</span> 
			</span>
		</div>
	</span>
</div>