<div id="userInfo" class="col-md-3" ng-controller="UserSessionCtrl">
	<span ng-show="!user.id" class="pull-right">
		<a class="pointerCursor" ng-click="showSignInForm()">Sign in</a> |
		<a class='pointerCursor navbar-link' ng-click="showRegistrationForm()">Sign up</a>
	</span>
	<span  ng-show="user.id" class="pull-right">
		Logged in as <strong>{{user.email}}</strong>.<a class="pointerCursor" ng-click='logout(user)'>Sign out</a> |
		<a class='pointerCursor navbar-link' ng-click="showEditProfileForm()">Edit profile</a> 
	</span>
</div>