<div class="pull-right glyphicon glyphicon-cog" id="ideaSettingsLink" ></div>

<div class="container">
 <div class="row" ng-controller="IdeaDetailCtrl">
		<div class="col-md-4 grayBorder" id="divNewIdea">
			<div class="row text-center">
			<h1>
				Create an idea,<br> then share it<br> with the world.
			</h1>
		</div>
		<div>
			<form novalidate>
				<div class="input-group">
					<span class="input-group-btn">
						<span class="btn btn-success btn-file">
							Browse...
							<input type="file" name="idea[cover_img]" file-model="cover_img" id="idea_cover_img">
						</span>
					</span>
					<input type="text" class="form-control" readonly>
				</div>
				<div class="field">
					<label for="name" >Name</label>
					<br />
					<input type="text" name="idea[name]" ng-model="idea.name" id="name"/>
				</div>
				<div class="field">
					<label for="description" >Description</label>
					<br />
					<input type="text" name="idea[description]" ng-model="idea.description" id="description"/>
				</div>
				<div class="actions">
					<button ng-click="updateIdea(idea)">SAVE</button>      
				</div>
			</form>
		</div>
 	</div>
 	 <div class="col-md-4">
		<div ng-include="'directory/new.html'" ></div>
		<div ng-include="'directory/index.html'" ></div>
	</div>
	<div class="col-md-4">
  		<div ng-include="'resource/index.html'" ></div>
  </div>
 </div>


</div>