<div id="ideaEditPanel" class="col-md-12" ng-controller="IdeaDetailCtrl">
  <div class="col-md-12">
    <div class="col-md-3" id="ideaCoverImageWrapper">
      <div id="ideaCoverImage"
	   			 class="outline"
           ng-file-drop
           ng-file-change="uploadFile($files)"
           ng-model="cover_img"
           drop-available="dropSupported"
					 ng-file-select
					 accept="image/*">
        <img ng-src="{{ $storage.current_idea.idea.cover_img_file_name ? '/images/ideas/'+$storage.current_idea.idea.id +'/medium/' + $storage.current_idea.idea.cover_img_file_name : '/images/missing.png' }}"/>
      </div>
    </div>
    <div id="ideaDetails" class="col-md-6 top-padded left-padded" >
      <h2 id="ideaName" class="col-md-12">
        <span ng-show="!editName" ng-click="editName=true">
					{{$storage.current_idea.idea.name}}
        	<a href="#" class="edit">Edit</a>
				</span>
				<span ng-show="editName">
					<input type='textarea'
							 	 placeholder="Name here"
								 ng-model="$storage.current_idea.idea.name" class="col-md-10 fullHeight"/>
						<span class="fa fa-save col-md-2" ng-click="updateIdea()"></span>
				</span>
      </h2>
      <h5 id="ideaMetadata" class="col-md-12">
  			Idea created by
        <a href="#" class="edit">{{$storage.current_idea.user.email}}</a>
        on {{$storage.current_idea.idea.created_at | date:'longDate'}}
      </h5>
      <div id="ideaDescription" class="col-md-12 fullHeight">
				<span ng-show="!editDescription" ng-click="editDescription=true">
	        {{$storage.current_idea.idea.description || 'Description here ...'}}
					<a href="#" class="edit">Edit</a>
				</span>
				<span ng-show="editDescription">
					<textarea
							 	 placeholder="Description here..."
								 ng-model="$storage.current_idea.idea.description"></textarea>
					<span class="fa fa-save" ng-click="updateIdea()"></span>
				</span>
      </div>

    </div>
   	<div class="col-md-3 pull-right" id="ideaButtonListWrapper">
		  <ul id="ideaButtonList">
		    <button class="btn btn-default btn-block"
								ng-show="$session.user && $storage.current_idea.idea.user_id != $session.user.id">
					Follow
				</button>
		    <div class="btn btn-default btn-block"
			    			ng-click="showPullRequestCreatePanel()"
								ng-show="$session.user && $storage.current_idea.idea.user_id != $session.user.id">
			    Create Pull Request
		    </div>
		  </ul>
		</div>
  </div>
	<div class="col-md-12" id="ideaAdditionalInfo">
    <ul id="ideaAdditionalInfoList">
      <li class="ideaAdditionalInfoListItem">
  			<span class="ideaInfoNumber">{{commitCount}}</span> Total Commits
      </li>
      <li class="ideaAdditionalInfoListItem">
  			<span class="ideaInfoNumber">{{contributingUserCount}}</span> Contributors
      </li>
      <li class="ideaAdditionalInfoListItem">
      </li>
      <li class="ideaAdditionalInfoListItem">
      </li>
      <li class="ideaAdditionalInfoListItem pull-right" ng-if="$session.user">
        <span class="fa fa-thumbs-up" ng-class="{'highlight': $storage.current_idea.idea.liked_by_user}" toggle-class="highlight" ng-click="likeIdea()"></span>
        <span class="ideaInfoNumber">{{likeCount}}</span>
      </li>
    </ul>
  </div>
</div>
