<div class="col-md-12 fullHeight" id="ace-wrapper" ng-controller="ResourceDetailCtrl">
	<div class="col-md-8" 
             ui-ace="{
		onLoad : aceLoaded,
		maxLines: 40,
		require: ['ace/ext/language_tools'],
		advanced: {
			enableSnippets: true,
			enableBasicAutocompletion: true,
			enableLiveAutocompletion: true
		}
	  }">
	</div>
	<div class="col-md-4 actions" id="resourceToolbar">
		<span class="btn btn-default pull-left fa fa-save" ng-click="updateResource()"></span>
		<div ng-include="'resource_comment/index.html'"></div>
	</div>
	
</div>
