
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ext-beautify.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ext-chromevox.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ext-elastic_tabstops_lite.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ext-emmet.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ext-error_marker.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ext-keybinding_menu.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ext-language_tools.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ext-linking.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ext-old_ie.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ext-searchbox.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ext-settings_menu.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ext-spellcheck.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ext-split.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ext-static_highlight.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ext-statusbar.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ext-textarea.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ext-themelist.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ext-whitespace.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/keybinding-emacs.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/keybinding-vim.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/worker-coffee.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/worker-css.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/worker-html.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/worker-javascript.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/worker-json.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/worker-lua.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/worker-php.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/worker-xml.js" type="text/javascript"></script>
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/worker-xquery.js" type="text/javascript"></script>

<div class="col-md-12 fullHeight" id="ace-wrapper" ng-controller="ResourceDetailCtrl">
	<div class="col-md-8 actions" id="resourceToolbar" ng-show="$session.user" >
		<div class="col-md-12" ng-include="'resource/aceEditor.html'" ng-show="isAceEditorVisible"></div>
		<div class="col-md-12" ng-include="'resource/imageViewer.html'" ng-show="isImageViewerVisible"></div>
	</div>
  <div class="col-md-4" ng-include="'resource_comment/index.html'"></div>
</div>
