<div id="ideaResourceContainer" ng-controller="ResourceIndexCtrl">
	<div id="resource_container" class="row masonry">
		<div class="col-md-12" ng-repeat="resource in resources">
			<span class="col-md-10 pointerCursor" id="resourceName" ng-click="editResource(resource.id)">{{ resource }}</span>
			<span class="col-md-2 resourceButtons" >
				<i id="downloadResource" ng-click="downloadResource(resource.id, resource.filename)" class="dock-item fa fa-download"></i>
				<i id="removeResource" ng-click="deleteResource(resource.id)" class="fa fa-times"></i>
			</span>
		</div>
		<div class="col-md-12">
			<span >
					<button class="btn btn-default btn-block" id="resourceDragDropBtn" ng-file-drop ng-model="files" class="drop-box" 
						drag-over-class="dragover" ng-multiple="true" allow-dir="true"
						>Drop files here</button>
					<div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
			</span>

			<table>
				<tr ng-repeat="file in $flow.files">
						<td>{{$index+1}}</td>
						<td>{{file.name}}</td>
						<td>{{file.msg}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
