<div id="ideaResourceContainer" ng-controller="ResourceIndexCtrl">
	<div id="resource_container" class="row masonry">
		<h6>Listing resources</h6>
		<div class="col-md-12" ng-repeat="resource in resources">
			<div class="col-md-4">
				
					{{ resource.filename }}
			
			</div>
			<div class="col-md-4">
				{{resource.comment}}
			</div> 
			<div class="col-md-4">
				<button id="editResource" ng-click="editResource(resource.id)" class="col-md-6 dock-item glyphicon glyphicon-pencil"></button>
				<button id="removeResource" ng-click="deleteResource(resource.id)" class="col-md-6 glyphicon glyphicon-remove"></button>
			</div>
		</div>
		
		<div >
			<span >
					<button id="resourceDragDropBtn" ng-file-drop ng-model="files" class="drop-box" 
						drag-over-class="dragover" ng-multiple="true" allow-dir="true"
						>Drop files here</button>
					<div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
			</span>

			<table>
				<tr ng-repeat="file in $flow.files">
						<td>{{$index+1}}</td>
						<td>{{file.name}}</td>
						<td>{{file.msg}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
