/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


h1,h2,h3,h4,h5,h6{
  font-family: 'Fira Sans';
}

body{
  margin-top: 0px;
}

.container-fluid{
	margine: 		0px;
  padding: 		30px 0px 30px 120px;
}

.item {
  width: 220px;
  margin: 10px;
  float: left;
}

.item img {
  height:       100%;
  width:        100%;
  position:     relative;
}

#btnNewIdea{
  padding: 6px 12px;
}

.fixed-top{
  width: 100%;
  position: absolute;
  top:0;
}

.pointerCursor {
	cursor:								pointer;
}

#authorizationPanels {
	position:			absolute;
	right:				0%;
	top:					5%;
	width:				20%;
	height:				40%;
}

#mainPanel {
	margin-top:		2%;
	margin-left:  0px;
	padding:			0px;
}

.fullHeight {
	height:		100%;
}

.col-md-12 {
	padding: 0px;
}
