// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#contactFormWrapper{
  background-color: #FFF;
  border-radius: 4px;
  
  #contactForm{
    input, select, textarea, button{
      display: block;
      margin: 15px 0px;
    }
  }
}
