// Place all the styles related to the Directories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#directoryForm {
  margin-bottom: 0px;
  z-index: 5;
}

.directoryButton {
  margin:	0px;
  text-align:	right;
  
    &:hover{
      cursor:	pointer;
    }
    
}

.directory-row{
    height: 28px;
    background-color: #F1F2F3;
    line-height: 28px;
    border: 1px solid #D1D2D3;
    position: relative;
    min-width: 100px;
    
    .fa{
       margin-right: 5px; 
    }
    
    .directory-row-tool-list{
        list-style-type: none;
        padding-left: 0px;
        display: inline;
        position: absolute;
        right: 15px;
        
        li{
            display: inline;
        }
    }
}
