// Place all the styles related to the Directories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#directoryForm {
  margin-bottom: 0px;
	display:				none;
}

.directoryButton {
	margin:						0px;
	padding:					0px;
	text-align:				right;
}

.directoryButton:hover {
	cursor:				pointer;
}