// Place all the styles related to the Directories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#directoryForm {
	border-style:	 	solid;
	border-color:		black;
	width:					25%;
}

#directoryList {
	float:					left;
	border-style:		solid;
	border-style:		black;
	width:					20%;
}