// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Fira+Sans);

.ace_editor { 
	height: 200px;
}
.scrollable {
	overflow-y: scroll;
}

#ace-wrapper{
	padding-left: 60px;
	border: solid 5px;
}

.glyphicon-2x {
      font-size: 48px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#divNewIdea{
	padding: 15px 5px;
	border-radius: 8px;
}

#divNewIdea > .row >h1{
	font-weight: 900;
	font-family: 'Fira Sans', sans-serif;
	margin-bottom: 40px;
}

.field{
	margin-bottomn: 20px;
}

.field > label{
	margin: 10px 0px 2px 0px;
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.2em;
	font-weight: 900;
}

#fileTextView{
	margin-left: 20px;
	padding: 2px 10px;
}

.grayBorder{
	border: 1px solid #e6e7e8;
}

#ideaNewName{
	margin-bottom:20px;
}

.item{
	margin: 0px;
	padding: 20px;
}

.item > img{
	margin-bottom: 20px;
}

.outline {
	border: 1px dashed red;
}

.overlay > h3.title{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 900;
}

#headerIdeas{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 900;
}

#ideaEditPanel {
	position: 		absolute;
	background: 	white;
	top:					0px;
	border: 			solid 1px;
	width:				30%;
	height:				60%;
	border-radius:	5%;
}

#ideaEditPanel .cover_img {
	position:			relative;
	left:					20%;
	width:				50%;
	height:				60%;
}

#ideaEditPanel .ideaName {
	text-align: center;
}

.hidePanelButton{
	position: 			absolute;
	top:						1%;
	left:						88%;
	border-radius:	45%;
}

.toolbar-btn{
    background-color: #E6E7E8;
    border: 1px solid #999999!important;
    border-radius: 0px;
}