// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Fira+Sans);

.ace_editor { 
	height: 200px;
}
.scrollable {
	overflow-y: scroll;
}

#ace-wrapper{
	padding-left: 60px;
    width: 100%;
}

#ace-wrapper button{
  margin-top: 10px;
}

.glyphicon-2x {
      font-size: 48px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#divNewIdea{
	padding: 15px 5px;
	border-radius: 8px;
}

#divNewIdea > .row >h1{
	font-weight: 900;
	font-family: 'Fira Sans', sans-serif;
	margin-bottom: 40px;
}

.field{
	margin-bottomn: 20px;
}

.field > label{
	margin: 10px 0px 2px 0px;
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.2em;
	font-weight: 900;
}

#fileTextView{
	margin-left: 20px;
	padding: 2px 10px;
}

.grayBorder{
	border: 1px solid #e6e7e8;
}

#ideaNewName{
	margin-bottom:20px;
}

.ideaItem{
	margin: 			0px;
	padding:			0px;
	height:				200px;
}

.ideaImg {
	position:			relative;
	width:				100%;
	height:				100%;
}

.ideaImg img{
	position:			relative;
	width:				100%;
	height:				100%;

}

.ideaItem .btn-group{
	position:			absolute;
	bottom:				0px;
	right:				5px;
}

.outline {
	border: 1px dashed red;
}

.overlay {
	display:		none;
	position:		absolute;
	top:				25%;
	left:				25%;
	height:			50%;
	width:			50%;
	color:		white;
}

.ideaItem:hover .overlay{
	display:		block;
	
}

.overlay > h3.title{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 900;

}

#headerIdeas{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 900;
}

#ideaEditPanel {
	position: 		absolute;
	background: 	white;
	top:					0px;
	border: 			solid 1px;
	width:				30%;
	height:				350px;
}


#ideaEditPanel .cover_img {
	height:				100%;
}

.ideaCoverImage {
	position:			relative;
	height:				70%;
	padding:			0px;
}

#ideaEditPanel .ideaName {
	text-align: center;
}

.hidePanelButton{
	position: 	    absolute;
	font-size:			2em;
	top:		    5px;
	right:			5px;
}

.hidePanelButton:hover{
	cursor:				pointer;
}

.toolbar-btn{
    background-color: #E6E7E8;
    border:           1px solid #999999!important;
    border-radius:    0px;
    width:            50px;
}

#wrapperIdeaDirectory{
    display: none;
}

#ideaCreatePanel {
	background-color:		white;
}

.ideaIcon {
	color:				#FFFFCC;
	font-size:		1.5em;
}

.ideaIcon:hover {
	color:				#FFFF99;
}

