body{
  background-color: #999;
}

h1,h2,h3,h4,h5,h6{
  margin: 0px;
}

.no-margin{
  margin: 0px!important;
}

.ideaInfoNumber{
  font-weight: 900;
  font-size: 16px;
}


.edit{
  display: inline;
  font-size: 14px;
  margin-left: 5px;
  font-style: underline;
  color: blue;
}

#ideaHeader{
  min-height: 200px;
  background-color: #fff;
  padding: 15px;
}

#ideaBody{
  background-color: #fff;
  min-height: 300px;
  margin-top: 15px;
}



#ideaDirectoriesResourcesWrapper{
  height: 100%;
  padding: 15px;
}

#ideaDirectoriesResourcesWrapper h3{
  margin-top: 10px;
}

#ideaRecentUpdatesWrapper{
  height: 100%;
  padding: 15px;
}

#addResourceButton{
  padding: 20px;
}

#ideaCoverImageWrapper{
}

#ideaName{
  margin-top: 0px;
  margin-bottom: 5px;
}

#ideaAdditionalInfo{
  min-height: 30px;
  background-color: black;
  margin-bottom: -15px;
}

#ideaAdditionalInfoList{
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}

.ideaAdditionalInfoListItem{
  display: inline;
  line-height: 30px;
  color: #fff;
  margin: 0 10px;
}

#ideaCommentsListWrapper{
  min-height: 100px;
  background-color: #F1F2F2;
  padding: 10px;
}

#ideaCommentsList{
  list-style-type: none;
  padding-left: 0px;
}

.ideaCommentsListItem{
  min-height: 80px;
  border: 1px solid #999;
  margin: 5px 0;
  padding: 15px;
  background-color: #FFFFFF;
}

.ideaCommentsAvatar{
  width: 80px;
  height: 80px;
}

.ideaCommentWrapper{
  height: auto;
}

#ideaButtonList{
  padding-left: 0px;
}
