.btn-toggle-wrapper{
  position: absolute;
  left: 		150px;
  top:			0px;
}

.btn{
  border-radius: 0px;   
}

.social-button {
	color:		#FFB873;
}

.social-button:hover {
	color:					#FFD473;
	cursor:					pointer;
}

#toggleBtn{
  padding: 					10px;
  background-color: rgba(0,0,0,.1);
  color: 						#17385e;
  top:							0px;
  border-radius: 		0px;
  margin: 					3px;
  transition: 			all .5s;
  z-index: 					5;
}

#sideMenu{
  padding: 					15px;
  width: 						150px;
  background-color: #17385e;
  height: 					99vh;
  display: 					inline-block;
  position: 				relative;
  right: 						150px;
	top:							0px;
  transition: 			right .5s;
  float: 						left;
  z-index: 					5;
}

#sidebarList{
  list-style-type: 	none;
  padding: 					0px;
}

#sidebarList li{
  font-family: 			'Fira Sans';
  text-transform: 	uppercase;
  color:						#FFB873;
  font-size: 				20px;
  letter-spacing: 	2px;
  margin-top: 			15px;
}

#sidebarList li:hover{
	color:					#FFD473;
	cursor:					pointer;
}

.sidebar-btn{
  margin: 5px;
}

.sidebar-wrapper-add{
  margin: 10px auto;
  padding: 3px;
}

.sidebar-wrapper-add > input{
  width:96%;
}

.show-menu{
  right: 0px!important;
}

.make-transparent{
  border: none!important;
  background-color: transparent!important;
}

#wrapper-add-folder, #wrapper-add-file{
  display: none;
}

.inline{
  display: inline;
}

#ideabin{
  position: 	absolute;
  bottom: 		0px;
  left: 			5px;
  color: 			#fff;
}

div#ideabin h1{
  margin: 	0px;
	color:		#FFCB73;
}

#ideabin .ideaBulb {
	color:		#FFFF66;
}

#fakeText{
  border: 1px solid #E6E7E8;
  margin: 15px;
  height: 300px;
  width: 50%%;
  z-index: 5;
  float: right;
}