.btn-toggle-wrapper{
  position: absolute;
  left: 100px;
  top: 0px;
}

.btn{
  border-radius: 0px;   
}

.social-button {
	color: #FFB873;
}

.social-button:hover {
	color: #FFD473;
	cursor: pointer;
}

#toggleBtn{
  padding: 10px;
  background-color: transparent;
  color: black;
  top: 0px;
  border-radius: 0px;
  margin: 0px;
  transition: all .5s;
  z-index: 5;
}

#toggleBtn:hover{
	background-color: rgba(17,38,94,.1)!important;
}

#sideMenu{
  padding: 15px;
  width: 100px;
  background-color: #17385e;
  height: 100vh;
  display: inline-block;
  position: relative;
  right: 0px;
  top: 0px;
  transition: right .5s;
  float: left;
  z-index: 5;
}

#ideabinLogo{
  width: 100%;
}

#sidebarList{
  list-style-type: 	none;
  padding: 					0px;
}

#sidebarList li{
  font-family: 'Fira Sans';
  text-transform: uppercase;
  color: #FFB873;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 15px;
  
  img{
    transition: border-width .2s;
    
    &:hover{
      border: 3px solid rgba(255,255,255,0);
      transition: border-width .2s;
      border-radius: 2px;
    }
  }
}

#sidebarList li:hover{
	color: #FFD473;
	cursor: pointer;
}

.sidebar-btn{
  margin: 5px;
}

.sidebar-wrapper-add{
  margin: 10px auto;
  padding: 3px;
}

.sidebar-wrapper-add > input{
  width:96%;
}

.show-menu{
  right: 100px!important;
}

.make-opaque{
  border: none!important;
	background-color: rgba(17,38,94,.8)!important;
  color: 						#FFFFE0!important;
}

#wrapper-add-folder, #wrapper-add-file{
  display: none;
}

.inline{
  display: inline;
}

#ideabin{
  position: 	absolute;
  bottom: 		0px;
  left: 			5px;
  color: 			#fff;
}

div#ideabin h1{
  margin: 	0px;
	color:		#FFCB73;
}

#ideabin .ideaBulb {
	color:		#FFFF66;
}