// Place all the styles related to the PullRequest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pullRequestCreatePanel {
	display:		none;
}
