// Place all the styles related to the resource_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commentBox {
	margin:		0px;
	border: 1px solid #E6E6B8;
	border-radius: 5%;
}