// Place all the styles related to the resource_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#resourceCommentTimestamp {
  font-size:	.7em;
}

.resourceCommentsListItem {
	margin:  	0px;
  padding:  0px;
	border:		1px solid;
}

.resourceCommentsListItem img {
  max-width:  	30px;
  max-height:	  30px;
}

.resourceCommentWrapper {
  margin: 	inherit;
  padding: 	inherit;
}

.resourceEditIconWrapper{
	margin: 		inherit;
	padding: 		inherit;
}

.resourceCommentUserAvatar {
	margin: inherit;
	padding: inherit;
}


