// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#ideaResourceContainer {
	width:		100%;
	display:	inline-block;
}

#resource_container {
	padding:	15px;
	float:		left;
	display:	inline;
}

#dragndropimage {
	position:	relative;
	width:	5%;
	height:	1%;
}

#dragndropimage img{
	width:	100%;
	height:	20%;
}

#resourceDragDropBtn{
    padding: 25px;
}