// Place all the styles related to the Users controller here.


#userRegistrationForm {
  position:					absolute;
	right:						0;
	width:						80%;
	height:						70%;
	background-color: #ffffff;
  margin-bottom: 		0px;
	display:					none;
	z-index:					5;
}

#editProfileForm {
	position:					absolute;
	width:						100%;
	height:						80%;
	background-color: #ffffff;
  margin-bottom: 		0px;
	display:					none;
	z-index:					5;
}

#signInForm {
	position:					absolute;
	right:						25%;
	width:						80%;
	height:						55%;
	background-color: #ffffff;
  margin-bottom: 		0px;
	display:					none;
	z-index:					5;
}

.closeButton {
	height:				20%;
}

#userInfo{
  position: 	absolute;
  right:		 	15px;
  top: 				10px;
}