<!DOCTYPE html>
<html>
<head>
  <title>IdeaBin</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= include_jquery %>
		<%= javascript_include_tag 'application', controller_name %>
		<%= csrf_meta_tags %>
</head>
<body ng-app="ideaBin">
 <div id="sideMenu" class="text-center show-menu">
		
    <div class="btn-group" role="group" aria-label="...">
      <i type="button" class="btn sidebar-btn border-white fa fa-folder" id="btnAddFolder"></i>
      <i type="button" class="btn sidebar-btn border-white fa fa-file" id="btnAddFile"></i>
									

    </div>
    
    <div ng-controller="IdeaIndexCtrl">
			<button ng-click="newIdea()" >Add New Idea</button>
<<<<<<< HEAD
		<div>
=======
    </div>
            
>>>>>>> 2d7715a2c5b4daf6002d457825bbf6d121882b58
    <div class="border-white sidebar-wrapper-add" id="wrapper-add-folder">
        <h6>Add Folder</h6>
        <input type="text" />
        <i class="btn fa fa-plus"></i>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuFolder" data-toggle="dropdown" aria-expanded="true">
                Dropdown
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuFolder">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JS</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">INC</a></li>

            </ul>
        </div>
    </div>
							

    <div class="border-white sidebar-wrapper-add" id="wrapper-add-file">
        <h6>Add File</h6>
        <input type="text" />
        <i class="btn fa fa-plus"></i>
        
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuFolder" data-toggle="dropdown" aria-expanded="true">
                Dropdown
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuFolder">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JS</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">INC</a></li>
            </ul>
        </div>
      </div>
    
    <ul>
        <a href="/ideas"><li>ideas</li></a>
    </ul>
    
     <div class="btn-toggle-wrapper">
        <i id="toggleBtn" class="btn fa fa-bars"></i>
    </div>
    <div id="ideabin">
        <h1 class="inline">ideabin</h1>
        <i class="inline fa fa-lightbulb-o fa-2x"></i>
    </div>
</div>


<div class="container-fluid fixed-top">
    <div ng-view=""></div>
</div>

</body>
</html>


