<!DOCTYPE html>
<html>
<head>
  <title>IdeaBin</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= include_jquery %>
		<%= javascript_include_tag 'application', controller_name %>
		<%= csrf_meta_tags %>
</head>
<body ng-app="ideaBin">
 <div id="sideMenu" class="text-center show-menu">
    <div ng-controller="NavigationController">
			<button class="btn btn-default" ng-click="showNewIdea()" >Add New Idea</button>
			<ul id="sidebarList">
				<li ng-click="showAllIdeas()">All Ideas</li>
        <li ng-click="showMyIdeas()">MY IDEAS</li>
				<li ng-click="showContactUs()"><span class="fa fa-phone btn" ></span>Contact Us</li>
				<li>
					<a href="http://github.com/deepthought42/ideaBin"><span class="fa fa-github btn" ></span></a>
					<a href="#" ><span class="fa fa-facebook btn"></span></a>
					<a href="#"><span class="fa fa-google-plus btn" ></span></a>
					<a href="https://twitter.com/intent/tweet?screen_name=ideaBin" data-related="brandonkindred"><span class="fa fa-twitter btn" ></span>	</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</li>
			</ul>
    </div>

		<div class="btn-toggle-wrapper">
			<i id="toggleBtn" class="btn fa fa-bars"></i>
    </div>
    <div id="ideabin">
        <img id="ideabinLogo" src="http://darrohndesign.com/ideabin/ideabin.jpg" />
    </div>
	</div>

	<div id="authorizationPanels">
		<div ng-include="'user/edit.html'" ></div>
		<div ng-include="'user/register.html'" ></div>
		<div ng-include="'user_session/new.html'" ></div>
	</div>
	<div class="container-fluid fixed-top">
		<div ng-include="'user/sessionToolbar.html'"></div>

		<div ng-view=""></div>
	</div>
</body>
</html>


