<!DOCTYPE html>
<html>
<head>
  <title>IdeaBin</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= include_jquery %>
		<%= javascript_include_tag 'application', controller_name %>
		<%= csrf_meta_tags %>
</head>
<body ng-app="ideaBin">
 <div id="sideMenu" class="text-center show-menu">
    <div ng-controller="NavigationController">
			<button class="btn btn-default" ng-click="showNewIdea()" >Add New Idea</button>
			<ul id="sidebarList">
				<li ng-click="showAllIdeas()">All Ideas</li>
        <li ng-click="showMyIdeas()">MY IDEAS</li>
			</ul>
    </div>

		<div class="btn-toggle-wrapper">
			<i id="toggleBtn" class="btn fa fa-bars"></i>
    </div>
    <div id="ideabin">
        <img id="ideabinLogo" src="http://darrohndesign.com/ideabin/ideabin.jpg" />
    </div>
	</div>

	<div id="authorizationPanels">
		<div ng-include="'user/edit.html'" ></div>
		<div ng-include="'user/register.html'" ></div>
		<div ng-include="'user_session/new.html'" ></div>
	</div>
	<div class="container-fluid fixed-top">
		<div ng-include="'user/sessionToolbar.html'"></div>

		<div ng-view=""></div>
	</div>
</body>
</html>


