<!DOCTYPE html>
<html>
<head>
  <title>IdeaBin</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= include_jquery %>
		<%= javascript_include_tag 'application', controller_name %>
		<%= csrf_meta_tags %>
</head>
<body ng-app="ideaBin">
 <div id="sideMenu" class="text-center show-menu">
    <div ng-controller="NavigationController">
			<button class="btn btn-default" ng-click="showNewIdea()" >Add New Idea</button>
			<ul id="sidebarList">
				<li ng-click="showAllIdeas()">All Ideas</li>
        <li ng-click="showMyIdeas()">MY IDEAS</li>
			</ul>
    </div>

		<div class="btn-toggle-wrapper">
			<i id="toggleBtn" class="btn fa fa-bars"></i>
    </div>
    <div id="ideabin">
        <h1 class="inline">ideabin</h1>
        <i class="ideaBulb inline fa fa-lightbulb-o fa-2x"></i>
    </div>
</div>


<div class="container-fluid fixed-top">
	<div id="userInfo" class="col-md-3 pull-right" ng-controller="UserSessionCtrl">
		Logged in as <strong>{{user.email}}</strong>.
		<span ng-show="!user.id">
			<a ng-href="/sign_in">Sign in</a> |
		</span>
		<span class="pointerCursor" ng-show="user.id">
			<a ng-click='logout(user)'>Sign out</a> |
		</span>
		<span class="pointerCursor" ng-show="user.id" >
			<a class='navbar-link' ng-href="/users/edit">Edit profile</a> 
		</span>
		<span class="pointerCursor" ng-show="!user.id" >
			<a class='navbar-link' ng-href="/register" >Sign up</a> 
		</span>	
	</div>
	<div ng-view=""></div>
</div>

</body>
</html>


