<div id="aboutUs">
	<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" id="contactFormWrapper">
				<p>
					Here at IdeaBin we believe ideas are precious and that an idea can
					only see growth through a nurturing group and a lot of persistent
					effort. That's why we've created this platform, where you can share
					your ideas with the world and gather people around it to help it grow
					into the creation you imagine it can be.
				</p>        
      </div>
    </div>
  </div>
</div>
