<div ng-controller="contactController">
	<div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3" id="contactFormWrapper">
          <h2>Contact the Ideabin Team</h2>
          <form id="contactForm">
              <input class="form-control" placeholder="First Name" ng-model="contact.fname" />
              <input class="form-control" placeholder="Last Name" ng-model="contact.lname" />
              <input class="form-control"  placeholder="Email" ng-model="contact.email" />
              <select class="form-control" ng-model="contact.reason">
                <option ng-repeat="option in options" value="{{option}}">{{option}}</option>  
              </select>
              <textarea class="form-control" placeholder="Your Message" ng-model="contact.message" />

              <button class="btn btn-default btn-large" ng-click="createContact()">Submit</button>
          </form>
        </div>
      </div>
    </div>
</div>
